#----------------------------------#
#             SERVER               #
#----------------------------------#
PORT=
BASE_URL=
NODE_ENV=


#----------------------------------#
#             DATABASE             #
#----------------------------------#
DATABASE_URL=


#----------------------------------#
#               JWT                #
#----------------------------------#
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=


#----------------------------------#
#             SWAGGER              #
#----------------------------------#
SWAGGER_USER=
SWAGGER_PASSWORD=

